h1, h2, h3, h4, h5, h6 {
    color: #007bff;
}

.uppercase {
    text-transform: uppercase;
}

.height-95 {
    height: 95vh;
}

.align-middle {
    position: absolute;
    top: 35%;
    left: 40%;
}

.jumbotron {
    color: rgb(255, 255, 255);
}

.nav-link .navbar-text {
    padding: 8px!important;
}

.jumbotron {
    margin-bottom: 0rem;
    padding: 10px!important;
}

#recipe-image {
    height: 60vh;
}

.width-25 {
    width: 25vw;
}

.width-50 {
    width: 50vw;
    align-items: center;
}

.width-80 {
    width: 80vw;
}

.width-100 {
    width: 100vw;
}

.padding-top-1 {
    padding-top: 1rem;
}

.form-card, #add-recipe-card {
    width: 80vw;
    margin: 0 auto;
}

.form-background {
    min-height: 95vh;
}

.ingredients-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

#quantity {
    width: 70%;
    display: inline-block;
}

.hide {
    display: none;
}

.center-aligned {
    margin: 0 auto;
}

.close {
    right: 5px;
}

.create-recipe-headers {
    text-shadow: 1px 1px black;
}

.recipe-details {
    float: left;
}

.recipe-description {
    max-height: 20vh;
    overflow-y: auto;
}

.profile-pic {
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile-image{
    border-radius: 50%;
    height: 300px;
    width: 400px;
}

.card-body {
    background: #f1f1f1;
}

label {
    color: #007bff;
}

.card-img-top {
    width: 100%!important;
}

.search-button {
    padding: 0!important;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.text-white {
    color: white!important;
}