.grey-bg {
    background-color: rgb(244, 232, 255);
}


.navbar {
    padding: 0!important;
}


.navbar-brand, .nav-link {
    color: blueviolet!important;
}

.nav-link .navbar-text {
    padding: 8px!important;
}

.jumbotron {
    margin-bottom: 0rem;
    height: 60vh;
}

#recipe-image {
    background: url('../images/food-3270461_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.width-80 {
    width: 80vw;
}