.grey-bg {
    background-color: rgb(244, 232, 255);
}


.navbar {
    padding: 0!important;
}


.navbar-brand, .nav-link {
    color: blueviolet!important;
}

.jumbotron {
    color: rgb(255, 255, 255);
}

.nav-link .navbar-text {
    padding: 8px!important;
}

.jumbotron {
    margin-bottom: 0rem;
    height: 60vh;
}

.width-80 {
    width: 80vw;
}