<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="" />
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/7e5b0bd132.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous">
    </script>
    <script src="https://terrylinooo.github.io/jquery.disableAutoFill/assets/js/jquery.disableAutoFill.min.js"></script>
    <!-- Emailjs -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            emailjs.init("user_xFHwE8JejuO2qYlvGugdB");
        })();
    </script>

    <!-- Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
        type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Food Space</title>
</head>

<body>
    <header>
        <nav id="nav" class="navbar navbar-expand-md bg-light navbar-light">
            <div class="container-fluid">


                <a class="navbar-brand" href="{{ url_for('index') }}"><img style="height: 75px;"
                        src="https://img.icons8.com/plasticine/100/000000/kawaii-pizza.png" /></a>


                <!--Navbar collapse button-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-collapse"
                    aria-controls="nav-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!--links collapsed into collapse button on smaller devices-->
                <div class="collapse navbar-collapse" id="nav-collapse">

                    <!-- Search form -->
                    <span class="mx-auto">
                        <form class="form" action="{{ url_for('recipe') }}" method="POST">
                            <div class="input-group">
                                <input class="form-control border border-success" type="text" name="q"
                                    placeholder="Search our site">

                                <div class="input-group-append">
                                    <button class="form-control btn btn-black border border-success" type="submit">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </span>

                    <span class="mr-2">
                        <ul class="list-inline">
                            {% if session.user %}
                            <li class="list-inline-item">
                                {% set username = session.user %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary"><a class="text-white"
                                            href="{{ url_for('profile', username=username) }}">Profile</a></button>
                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                                        <li>
                                            <a class="dropdown-item btn">
                                                <form class="profile-select-form" method="POST"
                                                    action="{{ url_for('profile', username=username) }}">
                                                    <input type="hidden" name="personal_details">
                                                    <button style="padding: 0;" class="btn" type="submit">Personal
                                                        Details</button>
                                                </form>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item btn">
                                                <form class="profile-select-form" method="POST"
                                                    action="{{ url_for('profile', username=username) }}">
                                                    <input type="hidden" name="my_recipes">
                                                    <button style="padding: 0;" class="btn" type="submit">My Recipes</button>
                                                </form>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item btn">
                                                <form class="profile-select-form" method="POST"
                                                    action="{{ url_for('profile', username=username) }}">
                                                    <input type="hidden" name="my_posts">
                                                    <button style="padding: 0;" class="btn" type="submit">My Posts</button>
                                                </form>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item btn">
                                                <form class="profile-select-form" method="POST"
                                                    action="{{ url_for('profile', username=username) }}">
                                                    <input type="hidden" name="liked_recipes">
                                                    <button style="padding: 0;" class="btn" type="submit">Liked Recipes</button>
                                                </form>
                                            </a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="{{ url_for('logout') }}"> Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                            {% if not session.user %}
                            <li class="list-inline-item">
                                <a class="btn" href="{{ url_for('log_in') }}"> Login</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn" href="{{ url_for('sign_up') }}"> Sign Up</a>
                            </li>
                            {% endif %}
                        </ul>
                    </span>
                </div>
            </div>
        </nav>
    </header>

    <nav class="navbar p-0 bg-light navbar-light">
        <ul class="list-inline mx-auto">
            <li class="list-inline-item">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="recipedropdown" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Recipes
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="recipedropdown">
                        <li><a class="dropdown-item btn" href="{{ url_for('recipe') }}">All Recipes</a></li>
                        <li>
                            <a class="dropdown-item btn">
                                <form method="POST" action="{{ url_for('recipe') }}">
                                    <input type="hidden" name="toprecipes">
                                    <button style="padding: 0;" class="btn" type="submit">Top Recipes</button>
                                </form>
                            </a>
                        </li>
                        <li><a class="dropdown-item" href="{{ url_for('create_recipe') }}">Add another recipe</a></li>
                    </ul>
                </div>
            </li>
            <li class="list-inline-item">

            </li>
            <li class="list-inline-item">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="newsfeeddropdown" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        News Feed
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="newsfeeddropdown">
                        <li><a class="dropdown-item" href="{{ url_for('posts') }}">News Feed</a></li>
                        {% if session.user %}
                        <li><a class="dropdown-item" href="{{ url_for('create_post', username=session.user) }}">Make a
                                new post</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{{ url_for('create_post', username='None') }}">Make a new
                                post</a></li>
                        {% endif %}
                    </ul>
                </div>

            </li>
        </ul>

    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="mt-4">
        <p class="text-center">
            {% if message == 'Please Sign in to like recipe' %}
            <strong>Please <a href="{{ url_for('log_in') }}">Sign in</a> Or <a href="{{ url_for('sign_up') }}">Sign
                    up</a> to like recipe</strong>
            {% else %}
            <strong>{{ message }}</strong>
            {% endif %}
        </p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

    <footer class="font-small">
        <ul class="list-inline text-center">
            <li class="list-inline-item mr-2">
                <a href="{{ url_for('get_in_touch') }}">Get in touch</a>
            </li>
            <li class="list-inline-item mr-2">
                <a href="https://facebook.com/"><i class="fab fa-facebook-square"></i> Facebook </a>
            </li>
            <li class="list-inline-item mr-2">
                <a href="https://twitter.com"><i class="fab fa-twitter-square"></i> Twitter </a>
            </li>
            <li class="list-inline-item mr-2">
                <a href="https://www.instagram.com"><i class="fab fa-instagram-square"></i> Instagram </a>
            </li>
        </ul>
    </footer>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>

</html>