{% extends "base.html" %}
{% block content %}

    <main class="blog">
        <h2 class="text-center">Food Space</h2>

        <!-- Secondary nav -->
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a href="#" class="nav-link">New Post</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">View My Posts</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Friends</a>
            </li>
        </ul>
        <!-- Layout taken from https://getbootstrap.com/docs/5.0/examples/blog/# -->
        <!-- Sample Blog post -->
        <div class="container-fluid">
            <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 fst-italic">This is a really cool blog post</h1>
                    <p class="lead my-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur nam expedita fuga voluptate perferendis ipsa officia? Vel architecto commodi laudantium animi necessitatibus praesentium?</p>
                    <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    hi
                </div>
                <div class="col-md-6">
                    hi
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <!-- Main body of blog post -->
                <div class="col-9">
                    hi
                </div>
                <!-- Aside content -->
                <div class="col-3">
                    hi 
                </div>
            </div>
        </div>

    </main>
{% endblock %}