{% extends "base.html" %}
{% block content %}

{% if session.user %}
<main class="form-background">
    <h2 class="text-center uppercase text-primary create-recipe-title"><strong>Create Recipe</strong></h2>

    <div class="card form-card">
        <div class="card-body">
            <form class="position-relative" method="POST" action="{{ url_for('add_recipe') }}"
                enctype="multipart/form-data">
                <div id="recipe-details">
                    <!-- Recipe Name -->
                    <label for="recipeName">Recipe Name:</label>
                    <input class="form-control" type="text" name="recipeName" required>

                    <!-- Recipe Image-->
                    <label for="recipeImage">Recipe Image:</label>
                    <br>
                    <input type="file" name="recipeImage" accept="image/jpg" required>
                    <br>
                    <small>Must be .jpg and under 16Mb</small>

                    <hr class="w-100">


                    <h4 class="text-center uppercase text-primary create-recipe-headers">Recipe Details</h4>

                    <label for="serves">Serves:</label>
                    <input class="form-control" type="text" name="serves" required>

                    <label for="prepTime">Preparation Time</label>
                    <input class="form-control" type="text" name="prepTime" required>

                    <label for="cookingTime">Cooking Time:</label>
                    <input class="form-control" type="text" name="cookingTime" required>

                    <label for="recipeDescription">Recipe Description:</label>
                    <textarea class="form-control" type="text" name="recipeDescription" required></textarea>

                    <label for="category">Categories:</label>

                </div>

                <!-- Ingredients -->
                <div id="ingredients">
                    <div class="mb-2">

                        <h4 class="text-center uppercase text-primary create-recipe-headers">Ingredients</h4>

                        <label class="ingredient" for="ingredient1">Ingredient 1:</label>
                        <input class="form-control" type="text" name="ingredient1" required>

                        <div class="position-absolute close">
                            <a onclick="closeform()">&#10005;</a>
                        </div>

                        <label class="ingredient" for="ingredient2">Ingredient 2:</label>
                        <input class="form-control" type="text" name="ingredient2" required>
                    </div>
                    <!-- Adds another ingredient item -->
                    <button class="btn btn-primary w-100" onclick="moreIngredients()" id="moreingredientsbutton"
                        type="button">Add another
                        ingredient</button>
                </div>

                <!-- Steps -->
                <div id="steps">
                    <div class="mb-2">
                        <h4 class="text-center uppercase text-primary create-recipe-headers">Steps</h4>

                        <label class="step" for="step1">Step 1:</label>
                        <input class="form-control" type="text" name="step1" required>

                        <label class="step" for="step2">Step 2:</label>
                        <input class="form-control" type="text" name="step2" required>
                    </div>
                    <!-- Adds another step item -->
                    <button class="btn btn-primary w-100" onclick="moresteps()" id="morestepsbutton" type="button">Add
                        another step</button>
                </div>

                <div class="text-center mt-2">
                    <button class="btn btn-primary" type="submit">Submit Recipe</button>
                </div>

            </form>
        </div>
    </div>
</main>
{% endif %}
{% endblock %}