{% extends "base.html" %}
{% block content %}
<main class="form-background">

    <div class="card form-card">
        <div class="card-body">
            
            <h2 class="text-center uppercase text-primary"><strong>Create Recipe</strong></h2>

            <form method="POST" action="{{ url_for('add_recipe') }}">
                <!-- Recipe Details -->
                <div id="recipe-details" class="text-primary">
                    <label for="recipeName">Recipe Name:</label>
                    <input class="form-control" type="text" name="recipeName">

                    <h4 class="text-center uppercase">Recipe Details</h4>

                    <label for="serves">Serves:</label>
                    <input class="form-control" type="text" name="serves">

                    <label for="prepTime">Preparation Time</label>
                    <input class="form-control" type="text" name="prepTime">

                    <label for="cookingTime">Cooking Time:</label>
                    <input class="form-control" type="text" name="cookingTime">
                </div>

                <!-- Ingredients -->
                <div id="ingredients" class="text-primary">
                    <div class="mb-2">

                        <h4 class="text-center uppercase">Ingredients</h4>

                        <label class="ingredient" for="ingredient1">Ingredient 1:</label>
                        <input class="form-control" type="text" name="ingredient1">

                        <label class="ingredient" for="ingredient2">Ingredient 2:</label>
                        <input class="form-control" type="text" name="ingredient2">
                    </div>
                    <!-- Adds another ingredient item -->
                    <button class="btn btn-primary w-100" onclick="moreIngredients()" id="moreingredientsbutton" type="button">Add another
                        ingredient</button>
                </div>

                <!-- Steps -->
                <div id="steps" class="text-primary">
                    <div class="mb-2">
                        <h4 class="text-center uppercase">Steps</h4>

                        <label class="step" for="step1">Step 1:</label>
                        <input class="form-control" type="text" name="step1">

                        <label class="step" for="step2">Step 2:</label>
                        <input class="form-control" type="text" name="step2">
                    </div>
                    <!-- Adds another step item -->
                    <button class="btn btn-primary w-100" onclick="moresteps()" id="morestepsbutton" type="button">Add another step</button>
                </div>

                <div class="text-center mt-2">
                    <button class="btn btn-primary" type="submit">Submit Recipe</button>
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}