{% extends "base.html" %}
{% block content %}

<form action="{{ url_for('createPost', username=session.user) }}" method="POST" enctype="multipart/form-data">
    <div class="float-left">
        <h4>Select an image <small>(optional)</small></h4>
        <label for="postimage">Image:</label>
        <input type="file" name="postimage">

        <br>

        <h4>Create Post</h4>
        <textarea name="posttext" class="form-control"></textarea>
        <button type="submit">Submit Post</button>

    </div>

</form>

{% endblock %}