{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col mt-4">
            <div class="card">
                <div class="card-body" style="background-color: #fff;">
                    <h2 class="text-center">Create Post</h2>
                    <hr class="width-80">
                    <form action="{{ url_for('createPost', username=session.user) }}" method="POST" enctype="multipart/form-data">
                        <div>
                            <h5>Select an image <small>(optional)</small></h5>
                            <label for="postimage">Image:</label>
                            <input type="file" name="postimage" id="postimage">
                            
                            <hr class="width-80">
                            <br>
                    
                            <h4 class="mt-4">Post Text</h4>
        
                            <textarea name="posttext" class="form-control" required></textarea>
                            <div class="text-center">
                                <button class="mt-4 btn btn-primary" type="submit">Submit Post</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>


{% endblock %}