{% extends "base.html" %}
{% block extra_title %}{{ recipe.recipeName }}{% endblock %}
{% block content %}

<!-- links back to various pages -->
    <main class="mb-4">
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div style="height: auto;" class="card-body">
                            <h1 class="text-center diplay-1 mt-4 mb-4">Edit Recipe</h1>
                            <form class="position-relative" method="POST"
                                action="{{ url_for('edit_recipe', recipe_id=recipe.recipe_id) }}"
                                enctype="multipart/form-data">
                                <div id="recipe-details">
                                    <!-- Recipe Name -->
                                    <label for="recipeName">Recipe Name:</label>
                                    <input class="form-control" type="text" value="{{ recipe.recipeName }}"
                                        name="recipeName" required>

                                    <br>

                                    <!-- Recipe Image-->
                                    <label for="recipeImage">Recipe Image:</label>
                                    <br>
                                    <input type="file" name="recipeImage" accept="image/jpg">
                                    <br>
                                    <small>Must be .jpg and under 16Mb</small>

                                    <hr class="w-100">

                                    <!-- Recipe Details -->
                                    <h4 class="text-center uppercase">Recipe Details</h4>

                                    <label for="serves">Serves:</label>
                                    <input class="form-control" type="text" value="{{ recipe.serves }}" name="serves"
                                        required>

                                    <label for="prepTime">Preparation Time</label>
                                    <input class="form-control" type="text" value="{{ recipe.prepTime }}"
                                        name="prepTime" required>

                                    <label for="cookingTime">Cooking Time:</label>
                                    <input class="form-control" type="text" value="{{ recipe.cookingTime }}"
                                        name="cookingTime" required>

                                    <label for="recipeDescription">Recipe Description:</label>
                                    <textarea class="form-control" name="recipeDescription" required>
                                        {{ recipe.recipeDescription }}
                                    </textarea>

                                    <hr class="w-100">

                                    <!-- Categories / Dietary Requirements -->
                                    <h4>Categories / dietary requirements</h4>

                                    <p>Please select any that apply</p>

                                    <div class="text-center">
                                        {% for category in category_list %}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox"
                                                {% if category in recipe.categories %}selected{% endif %}
                                                value="{{category}}" name="category">
                                            <label class="form-check-label" for="{{category}}">{{category}}</label>
                                        </div>
                                        {% endfor %}

                                        <hr>

                                    </div>
                                </div>

                                <!-- Ingredients -->
                                <div id="ingredients">
                                    <div class="mb-2">

                                        <h4 class="uppercase create-recipe-headers">Ingredients</h4>

                                        {% for ingredient in recipe.ingredients %}
                                        <div class="mb-3">
                                            <label for="ingredient{{loop.index}}">Ingredient {{ loop.index }}</label>
                                            <input class="form-control ingredient" type="text"
                                                name="ingredient{{ loop.index }}" value="{{ ingredient }}">
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <!-- Adds another ingredient item -->
                                    <button class="btn btn-primary" onclick="moreIngredients()"
                                        id="moreingredientsbutton" type="button">Add more
                                        ingredients</button>

                                </div>

                                <!-- Steps -->
                                <div id="steps">
                                    <div class="mb-2 mt-4">
                                        <h4 class="uppercase create-recipe-headers">Steps</h4>

                                        {% for step in recipe.steps %}
                                        <div class="mb-3">
                                            <label for="step{{loop.index}}">Step {{ loop.index }}</label>
                                            <input class="form-control step" type="text" name="step{{ loop.index }}"
                                                value="{{ step }}">
                                        </div>
                                        {% endfor %}
                                        <!-- Adds another step item -->
                                        <button class="btn btn-primary" onclick="moresteps()" id="morestepsbutton"
                                            type="button">Add
                                            more steps</button>
                                    </div>

                                    <div class="text-center mt-3">
                                        <button class="btn btn-outline-primary" type="submit">Save changes</button>
                                    </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </main>

{% endblock %}