{% extends "base.html" %}
{% block extra_title %}Edit post{% endblock %}
{% block content %}

<main
    style="background-image: url('/static/images/platter.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col mt-4 mb-4">
                <div class="card">
                    <div class="card-body" style="background-color: #fff;">
                        <h2 class="text-center">Create Post</h2>
                        <hr class="width-80">
                        <form action="{{ url_for('create_post', username=session.user) }}" method="POST"
                            enctype="multipart/form-data">
                            <div class="mb-2">
                                <label for="posttitle">Post Title:</label>
                                <input type="text" required class="form-control" value="{{ post.posttitle }}" name="posttitle">
                            </div>
                            <div class="mb-2">
                                <h5>Select an image <small>(optional)</small></h5>
                                <label for="postimage">Image:</label>
                                <input type="file" name="postimage">
                            </div>
                            <div class="mb-2">
                                <label for="posttext">Post Text:</label>
                                <textarea name="posttext" class="form-control" required>{{ post.posttext }}</textarea>

                            </div>
                            <div class="mb-2">
                                <div class="text-center">
                                    <button class="mt-4 btn btn-primary" type="submit">Submit Post</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

{% endblock %}