{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p class="text-center"><strong>{{ message }}</strong></p>
{% endfor %}
{% endif %}
{% endwith %}

{% set recipeName = recipe.recipeName %}

<!-- Recipe Name -->
<h4 class="card-title  text-center text-primary capitalize">{{ recipeName }}</h4>

<!-- Search form -->
<div class="text-center mt-4 mb-2">
    <form action="{{ url_for('searchRecipes') }}" method="POST" style="line-height: 1.5;">
        <label for="search">Search recipes:</label>
        <input type="text" name="search" placeholder="Spaghetti Bolognaise" required>
        <button type="submit" class="btn search-button"><i class="fas fa-search text-primary"></i></button>
    </form>
</div>

<!-- links back to various pages -->
<div class="text-center mb-4">
    <a class="btn btn-outline-primary" href="{{ url_for('recipe') }} ">
        Back to recipes</a>
    <a class="btn btn-outline-primary" href="{{ url_for('index') }}">Back Home</a>
    <a class="btn btn-outline-primary" href="{{ url_for('profile', username=session.user) }}">Back to Profile</a>
</div>

<main>
    <div class="container height-auto">
        <div class="row">
            <div class="col">
                <div class="card mb-2">
                    {% set imageName = recipe.recipeImageName %}
                    <div style="height: 65vh; overflow: hidden;">
                        <img class="card-img-top" src="{{ url_for('file', filename=imageName) }}" alt="recipe Image">
                    </div>
                    <div class="card-body height-auto">
                        <div class="width-50">
                            <!-- Recipe Details -->
                            <div class="col">
                                <p class="card-text">
                                    <i class="fas fa-utensils"></i> Serves {{ recipe.serves }}
                                    <br>
                                    <i class="far fa-clock"></i> Preparation time: {{ recipe.prepTime }}
                                    <br>
                                    <i class="far fa-clock"></i> Cooking time: {{ recipe.cookingTime }}
                                </p>
                            </div>

                            <p class="card-text recipe-description">
                                {{ recipe.recipeDescription }}
                            </p>

                            <form class="mt-4 text-center" action="#" method="POST">
                                <p>
                                    <a class="likes" onclick="like(recipeName)">&#x1F44D;</a> <span>Likes:
                                        {{recipe.likes }} </span>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}