{% extends "base.html" %}
{% block content %}

{% if session.user %}
    {% set username = session.user %}
{% endif %}

<!-- links back to various pages -->
<ul class="list-inline text-center">
    <li class="list-inline-item">
        <a class="btn" href="{{ url_for('recipe') }} ">
            All Recipes</a>
    </li>
    <li class="list-inline-item">
        <a class="btn" href="{{ url_for('index') }}">Home</a>
    </li>
    {% if session.user %}
    <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('profile', username=session.user) }}">Profile</a>
    </li>
    {% endif %}
</ul>

<main>
    {% if edit_recipe %}
    <main class="mb-4">
        <div class="container mt-4">
            <h2 class="text-center text-primary create-recipe-title">Create Recipe</h2>
    
            <hr>
    
            <form class="col position-relative text-primary" method="POST" action="{{ url_for('create_recipe') }}"
                enctype="multipart/form-data">
                <div id="recipe-details">
                    <!-- Recipe Name -->
                    <label for="recipeName">Recipe Name:</label>
                    <input class="form-control" type="text" name="recipeName" required>
    
                    <br>
    
                    <!-- Recipe Image-->
                    <label for="recipeImage">Recipe Image:</label>
                    <br>
                    <input type="file" name="recipeImage" accept="image/jpg" required>
                    <br>
                    <small>Must be .jpg and under 16Mb</small>
    
                    <hr class="w-100">
    
                    <!-- Recipe Details -->
                    <h4 class="text-center text-primary uppercase">Recipe Details</h4>
    
                    <label for="serves">Serves:</label>
                    <input class="form-control" type="text" name="serves" required>
    
                    <label for="prepTime">Preparation Time</label>
                    <input class="form-control" type="text" name="prepTime" required>
    
                    <label for="cookingTime">Cooking Time:</label>
                    <input class="form-control" type="text" name="cookingTime" required>
    
                    <label for="recipeDescription">Recipe Description:</label>
                    <textarea class="form-control" type="text" name="recipeDescription" required></textarea>
    
                    <hr class="w-100">
    
                    <!-- Categories / Dietary Requirements -->
                    <h4 class="text-center text-primary">Categories / dietary requirements</h4>
    
                    <p class="text-center">Please select any that apply</p>
    
                    <div class="text-center">
                        {% for category in categoryList %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="{{category}}" name="category">
                                <label class="form-check-label" for="{{category}}">{{category}}</label>
                            </div>
                        {% endfor %}
    
                        <hr>
    
                    </div>
                </div>
    
                <!-- Ingredients -->
                <div id="ingredients">
                    <div class="mb-2">
    
                        <h4 class="text-center uppercase text-primary create-recipe-headers">Ingredients</h4>
    
                        <label class="ingredient" for="ingredient1">Ingredient 1:</label>
                        <input class="form-control" type="text" name="ingredient1" required>
    
                        <label class="ingredient" for="ingredient2">Ingredient 2:</label>
                        <input class="form-control" type="text" name="ingredient2" required>
    
                        <label class="ingredient" for="ingredient3">Ingredient 3:</label>
                        <input class="form-control" type="text" name="ingredient3">
                    </div>
                    <!-- Adds another ingredient item -->
                    <button class="btn btn-primary w-100" onclick="moreIngredients()" id="moreingredientsbutton"
                        type="button">Add another
                        ingredient</button>
    
                    <hr>
    
                </div>
    
                <!-- Steps -->
                <div id="steps">
                    <div class="mb-2">
                        <h4 class="text-center uppercase text-primary create-recipe-headers">Steps</h4>
    
                        <label class="step" for="step1">Step 1:</label>
                        <input class="form-control" type="text" name="step1" required>
    
                        <label class="step" for="step2">Step 2:</label>
                        <input class="form-control" type="text" name="step2" required>
    
                        <label class="step" for="step3">Step 3:</label>
                        <input class="form-control" type="text" name="step3">
                    </div>
                    <!-- Adds another step item -->
                    <button class="btn btn-primary w-100" onclick="moresteps()" id="morestepsbutton" type="button">Add
                        another step</button>
                </div>
    
                <div class="text-center mt-3">
                    <button class="btn btn-primary" type="submit">Submit Recipe</button>
                </div>
    
            </form>
        </div>
    </main>
    {% else %}
    <div class="container mb-4">
        <div class="card">
            <div class="card-body" style="height: auto!important;">
                <div class="row">
                    <div class="col-12">
                        <!-- Recipe Name -->
                        <h1 class="card-title text-center capitalize">{{ recipe.recipeName }}</h1>
                    </div>
                    <div class="col-12 text-center">
                        <div class="mb-4">
                            <img class="full-recipe-image" src="{{ url_for('file', filename=recipe.imageName) }}" alt="recipe Image">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center mb-2">
                        <p class="card-text">
                            {{ recipe.recipeDescription }}
                        </p>
                    </div>
                    
                </div>
        
                <div class="row">
                    <div class="col-12 col-md-6 text-center">
                        <!-- Recipe Details -->
                        <h3>Recipe Details</h3>
                        <p class="card-text">
                            <i class="fas fa-utensils"></i> Serves {{ recipe.serves }}
                            <br>
                            <i class="far fa-clock"></i> Preparation time: {{ recipe.prepTime }}
                            <br>
                            <i class="far fa-clock"></i> Cooking time: {{ recipe.cookingTime }}
                        </p>
                    </div>
                    <div class="col-12 col-md-6 text-center">
                        <!-- Categories -->
                        {% if recipe.categories %}
                        <div class="mb-4 mt-4 recipe-categories">
                            <h4>Categories</h4>
                            {% set categories = recipe.categories %}
                            {% if categories|length > 1 %}
                            <ul class="list-inline">
                                {% for category in categories %}
                                    {% if category == "vegetarian" %}
                                        <li class="list-inline-item">
                                            {{ category }} <i class="fas fa-carrot"></i>
                                        </li>
                                        {% elif category == "vegan" %}
                                        <li class="list-inline-item">
                                            {{ category }} <i class="fas fa-leaf"></i>
                                        </li>
                                        {% else %}
                                        <li class="list-inline-item">
                                            {{ category }}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {% else %}
                                <ul class="list-inline">
                                    {% if categories[0] == "vegetarian" %}
                                        <li class="list-inline-item">
                                            {{ categories[0] }} <i class="fas fa-carrot"></i>
                                        </li>
                                        {% elif categories[0] == "vegan" %}
                                        <li class="list-inline-item">
                                            {{ categories[0] }} <i class="fas fa-leaf"></i>
                                        </li>
                                        {% else %}
                                        <li class="list-inline-item">
                                            {{ categories[0] }}
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                        {% else %}
                        <div class="mb-4 recipe-categories">
                            <h6>Categories</h6>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <p class="text-muted">No categories selected</p>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
        
                <div class="row mt-4">
                    <div class="col-xs-12 col-lg-4 offset-lg-2">
                        <h4 class="text-center mb-4">Ingredients</h4>
                        {% set ingredients = recipe.ingredients %}
                        <ul class="ingredient-list">
                            {% for ingredient in ingredients %}
                            <li>
                                <p>{{ ingredient }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <h4 class="text-center mb-4">Method</h4>
                        {% set method = recipe.steps %}
                        <ol>
                            {% for step in method %}
                            <li>
                                <p>{{ step }}</p>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col">
                        <p class="mt-4 text-center">
                            <!-- Sets username variable-->
                            {% if session.user %}
                                {% set username = session.user %}
                                {% set user = user({"username": username.lower() }) %}
        
                                {% set recipeName = recipe.recipeName %}
                                {% set likes = user.likedRecipes %}
                                {% if likes %}
                                    {% set listOfLikedRecipes = likes %}
                                    {% if listOfLikedRecipes|length >= 1  %}
                                        {% if recipeName in listOfLikedRecipes %}
                                                <a class="likes"
                                                    href="{{ url_for('like', recipeName=recipeName, username=username) }}">
                                                    <i class="fas fa-heart"></i>
                                                </a>
                                                <span>Likes: {{recipe.likes }} </span>
                                        {% else %}
                                        <a class="likes"
                                            href="{{ url_for('like', recipeName=recipeName, username=username) }}">
                                            <i class="far fa-heart"></i>
                                        </a>
                                        <span>Likes: {{recipe.likes }} </span>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                <a class="likes"
                                    href="{{ url_for('like', recipeName=recipeName, username=username) }}">
                                    <i class="far fa-heart"></i>
                                </a>
        
                                <span>Likes: {{recipe.likes }} </span>
                                {% endif %}
                            {% else %}
                                <a class="likes"
                                    href="{{ url_for('like', recipeName=recipeName, username=username) }}">
                                    <i class="far fa-heart"></i>
                                </a>
        
                                <span>Likes: {{recipe.likes }} </span>
                            {% endif %}
        
                            
                            
                        </p>
                    </div>
                </div>
        
                {% if session.user == author %}
                <div class="row text-center">
                    <div class="col">
                        <form action="{{ url_for('deleteRecipe', recipeName=recipe.recipeName, username=session.user) }}"
                            method="POST">
                            <button tyle="submit" class="btn btn-danger">Delete Recipe</button>
                        </form>
                    </div>
                    <div class="col">
                        <form method="POST" action="{{ url_for('fullrecipe', recipeName=recipe.recipeName) }}">
                            <input type="hidden" name="edit_recipe" value="True">
                            <button class="btn btn-primary" type="submit">Edit recipe</button>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</main>

{% endblock %}