{% extends "base.html" %}
{% block content %}

<!-- Background image -->
<div class="text-white" style="background-image: url('static/images/platter.jpg'); height: 60vh;">
    <div class="mb-4">
        <div class="col text-center">
            <h2 class="p-4">Food Space</h2>

            <p class="lead display-6 mt-4 fst-italic">
                <b>
                    {% if session.user %}
                    Welcome back {{ username }}
                    {% else %}
                    Find, create and share recipes!
                    <br>
                    Join our growing list of users to make friends and find great food!
                    {% endif %}
                </b>
            </p>

            <p class="lead mt-2"></p>

            <div class="col">
                {% if not session.user %}
                <a class="btn btn-white uppercase btn-xl rounded-pill mb-4" href="{{ url_for('signup')}}">Sign
                    up</a>
                {% endif %}
                {% if session.user %}
                <a class="btn btn-white btn-xl uppercase rounded-pill mb-4"
                    href="{{ url_for('profile', username=session.user)}}">Go to my profile</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Secondary Navbar -->
<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
        <a class="nav-link" href="#top-recipes">Top Recipes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#search">Search Recipes</a>
    </li>
    {% if session.user %}
    <li class="nav-item">
        <a class="nav-link" href="#liked-recipes">Liked Recipes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('createPost', username=session.user) }}">Make New Post</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('log_in') }}">Sign in</a>
    </li>
    {% endif %}
</ul>

<!-- Website description -->
<div class="container mt-4">
    <div class="row">
        <div class="col text-center text-primary">
            <h4>Food Space</h4>
            <p class="lead">
                Food Space is a the perfect place for finding tasty new food and sharing your own recipes with others.
                <br>
                Find other users and new great food every day for free!
            </p>
        </div>
    </div>
</div>

<hr class="width-80">

<!-- Recipes / users search form -->
<div class="text-center mt-2 mb-2" id="search">
    <form action="{{ url_for('search') }}" method="POST" style="line-height: 1.5;">

        <h4 class="text-center text-primary">Find users or recipes</h4>

        <label class="mb-2" for="search"><strong>Search for:</strong></label>

        <select name="search" id="search">
            <option value="recipes">Recipes</option>
            <option value="users">Users</option>
        </select>

        <input type="text" class="rounded search-form" autocomplete="off" name="query" required>
        <span>
            <button type="submit" class="btn search-button"><i class="fas fa-search text-primary"></i></button>
        </span>

    </form>
</div>

<hr class="width-80">

<!-- Top Recipes -->
<div id="top-recipes" class="text-primary">
    <h4 class="text-center">Top Recipes</h4>

    <div class="container">
        <div class="row">
            {% for recipe in topRecipes %}
            <div class="col-sm-12 col-xl-4">

                <div class="card mb-4 mt-4">
                    {% set imageName = recipe.recipeImageName %}
                    {% set recipeName = recipe.recipeName %}
                    <img class="card-img-top" src="{{ url_for('file', filename=imageName) }}" alt="recipe Image">
                    <div class="card-body height-85">
                        <!-- Recipe Name -->
                        <h4 class="card-title  text-center">{{ recipeName }}</h4>

                        <!-- Recipe Details -->

                        <p class="card-text">
                            <i class="fas fa-utensils"></i> Serves {{ recipe.serves }}
                            <br>
                            <i class="far fa-clock"></i> Preparation time: {{ recipe.prepTime }}
                            <br>
                            <i class="far fa-clock"></i> Cooking time: {{ recipe.cookingTime }}
                        </p>

                        {% if recipe.categories %}
                <div class="mb-4 recipe-categories">
                    <h6>Categories</h6>
                    {% set categories = recipe.categories %}
                    {% if categories|length > 1 %}
                    <ul class="list-inline">
                        {% for category in categories %}
                            {% if category == "vegetarian" %}
                                <li class="list-inline-item">
                                    {{ category }} <i class="fas fa-carrot"></i>
                                </li>
                                {% elif category == "vegan" %}
                                <li class="list-inline-item">
                                    {{ category }} <i class="fas fa-leaf"></i>
                                </li>
                                {% else %}
                                <li class="list-inline-item">
                                    {{ category }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% else %}
                        <ul class="list-inline">
                            {% if categories[0] == "vegetarian" %}
                                <li class="list-inline-item">
                                    {{ categories[0] }} <i class="fas fa-carrot"></i>
                                </li>
                                {% elif categories[0] == "vegan" %}
                                <li class="list-inline-item">
                                    {{ categories[0] }} <i class="fas fa-leaf"></i>
                                </li>
                                {% else %}
                                <li class="list-inline-item">
                                    {{ categories[0] }}
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
                {% else %}
                <div class="mb-4 recipe-categories">
                    <h6>Categories</h6>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <p class="text-muted">No categories selected</p>
                        </li>
                    </ul>
                </div>
                {% endif %}

                        <h5 class="margin-top-1">Recipe Description</h5>

                        <p class="card-text recipe-description">
                            {{ recipe.recipeDescription }}
                        </p>

                        <div class="text-center">
                            <a class="btn btn-outline-primary btn-lg"
                                href="{{ url_for('fullrecipe', recipeName=recipeName)}}">Go to Recipe</a>
                        </div>
                        {% set recipeName = recipe.recipeName %}
                        <p class="mt-4 text-center">
                            <!-- Checks if user is logged in -->
                            {% if session.user %}
                            <!-- Sets username variable-->
                            {% set username = session.user %}

                            {% if x({"username": username}) %}
                            {% set user = x({"username": username}) %}
                            {% if user.likedRecipes %}
                            {% set listOfLikedRecipes = user.likedRecipes %}
                            {% if listOfLikedRecipes|length >= 1  %}
                            {% if recipeName in listOfLikedRecipes %}
                            <a class="likes"
                                href="{{ url_for('unlike', recipeName=recipeName, username=username, prevPage=request.referrer) }}">
                                <i class="fas fa-heart"></i>
                            </a>
                            <span>Likes: {{recipe.likes }} </span>
                            {% else %}
                            <a class="likes"
                                href="{{ url_for('like', recipeName=recipeName, username=username, prevPage=request.referrer) }}">
                                <i class="far fa-heart"></i>
                            </a>
                            <span>Likes: {{recipe.likes }} </span>
                            {% endif %}
                            {% endif %}
                            {% else %}
                            <a class="likes"
                                href="{{ url_for('like', recipeName=recipeName, username=username, prevPage=request.referrer) }}">
                                <i class="far fa-heart"></i>
                            </a>

                            <span>Likes: {{recipe.likes }} </span>
                            {% endif %}
                            {% endif %}
                            {% else %}
                            <a class="likes" href="{{ url_for('signInToLikeRecipe') }}">
                                <i class="far fa-heart"></i>
                            </a>

                            <span>Likes: {{recipe.likes }} </span>
                            {% endif %}
                        </p>

                        <p>
                            Author: {{ recipe.author }}
                        </p>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h4>Top Posts</h4>
        </div>
    </div>
</div>

{% endblock %}