{% extends "base.html" %}

{% block extra_title %}Home{% endblock %}

{% block content %}
<!-- Background image -->
<div class="text-white" style="background-image: url('static/images/platter.jpg'); height: 60vh;">
    <div class="mb-4">
        <div class="col text-center">
            <h1 class="display-2 p-4">Food Space</h1>

            <p class="lead display-6 mt-4 fst-italic">
                <b>
                    {% if user != None %}
                    Welcome back {{ username }}
                    {% else %}
                    Find, create and share recipes!
                    <br>
                    Join our growing list of users to make friends and find great food!
                    {% endif %}
                </b>
            </p>

            <p class="lead mt-2"></p>

            <div class="col">
                {% if user %}
                <a class="btn btn-primary btn-xl rounded-pill mb-4"
                    href="{{ url_for('profile', username=user.username)}}">Go to my profile</a>
                {% else %}
                <a class="btn btn-primary btn-xl rounded-pill mb-4" href="{{ url_for('sign_up')}}">
                    Sign up
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Website description -->
<div class="container mt-4">
    <div class="row">
        <div class="col text-center">
            <p class="lead">
                Food Space is a the perfect place for finding tasty new food and sharing your own recipes with others.
                <br>
                Find other users and new great food every day for free!
            </p>
        </div>
    </div>
</div>

<hr class="width-80">

<!-- Top Recipes -->
<div>
    <h1 class="display-3 text-center">Top Recipes</h1>

    <div class="container-fluid">
        <div class="row">
            {% for recipe in top_recipes %}
            <div class="col-sm-12 col-xl-4">

                <div class="card mb-4 mt-4">
                    {% set recipeName = recipe.recipeName %}
                    <img class="card-img-top" src="{{ url_for('file', filename=recipe.recipeImageName) }}"
                        alt="recipe Image">
                    <div class="card-body">
                        <!-- Recipe Name -->
                        <h4 class="card-title text-center">{{ recipe.recipeName }}</h4>

                        <!-- Recipe Details -->
                        <p class="card-text">
                            <i class="fas fa-utensils"></i> Serves {{ recipe.serves }}
                            <br>
                            <i class="far fa-clock"></i> Preparation time: {{ recipe.prepTime }}
                            <br>
                            <i class="far fa-clock"></i> Cooking time: {{ recipe.cookingTime }}
                        </p>

                        <!-- Recipe categories -->
                        {% if recipe.categories %}
                        <div class="mb-4 recipe-categories">
                            <h6>Categories</h6>
                            {% set categories = recipe.categories %}
                            {% if categories|length > 1 %}
                            <ul class="list-inline">
                                {% for category in categories %}
                                {% if category == "vegetarian" %}
                                <li class="list-inline-item">
                                    {{ category }} <i class="fas fa-carrot"></i>
                                </li>
                                {% elif category == "vegan" %}
                                <li class="list-inline-item">
                                    {{ category }} <i class="fas fa-leaf"></i>
                                </li>
                                {% else %}
                                <li class="list-inline-item">
                                    {{ category }}
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            {% else %}
                            <ul class="list-inline">
                                {% if categories[0] == "vegetarian" %}
                                <li class="list-inline-item">
                                    {{ categories[0] }} <i class="fas fa-carrot"></i>
                                </li>
                                {% elif categories[0] == "vegan" %}
                                <li class="list-inline-item">
                                    {{ categories[0] }} <i class="fas fa-leaf"></i>
                                </li>
                                {% else %}
                                <li class="list-inline-item">
                                    {{ categories[0] }}
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div>
                        {% else %}
                        <div class="mb-4 recipe-categories">
                            <h6>Categories</h6>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <p class="text-muted">No categories selected</p>
                                </li>
                            </ul>
                        </div>
                        {% endif %}

                        <h5 class="margin-top-1">Recipe Description</h5>

                        <p class="card-text recipe-description">
                            {{ recipe.recipeDescription }}
                        </p>

                        <div class="text-center">
                            <a class="btn btn-primary btn-lg"
                                href="{{ url_for('fullrecipe', recipe_name=recipe.recipeName)}}">Go to Recipe</a>
                        </div>
                        <p class="mt-4 text-center">
                            {% if user %}
                            {% if list_of_liked_recipes != None %}
                            {% if recipe.recipeName in list_of_liked_recipes %}
                            <a class="likes"
                                href="{{ url_for('like', recipe_name=recipe.recipeName, username=user.username) }}">
                                <i class="fas fa-heart"></i>
                            </a>

                            <span>Likes: {{recipe.likes }} </span>
                            {% else %}
                            <a class="likes"
                                href="{{ url_for('like', recipe_name=recipe.recipeName, username=user.username) }}">
                                <i class="far fa-heart"></i>
                            </a>

                            <span>Likes: {{recipe.likes }} </span>
                            {% endif %}
                            {% else %}
                            <a class="likes"
                                href="{{ url_for('like', recipe_name=recipe.recipeName, username=user.username) }}">
                                <i class="far fa-heart"></i>
                            </a>
                            <span>Likes: {{recipe.likes }} </span>
                            {% endif %}
                            {% else %}
                            <a class="likes"
                                href="{{ url_for('like', recipe_name=recipe.recipeName, username='None') }}">
                                <i class="far fa-heart"></i>
                            </a>
                            <span>Likes: {{recipe.likes }} </span>
                            {% endif %}
                        </p>

                        <p>
                            Author: {{ recipe.author }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <form method="post" class="text-center">
                    <button class="btn btn-primary btn-xl rounded-pill mb-4" type="submit" name="more_recipes">More
                        Recipes</button>
                </form>
            </div>
        </div>
    
    </div>
</div>

{% if recently_viewed %}
    <hr class="width-80">

    <h1 class="display-3 text-center">Recently viewed</h1>

    <div class="container-fluid recent-recipes">
        <div class="row p-4">
            {% for item in recently_viewed %}
                <div class="prev">
                    Hi
                </div>
                
                <div class="next">
                    Hi
                </div>

                <div class="col-3 p-4 mb-2 first-carousel">
                    <a href="{{ url_for('fullrecipe', recipe_name=item.recipeName)}}">
                        <img class="card-img-top" src="{{ url_for('file', filename=item.recipeImageName) }}" alt="Recipe Image">
                    </a>
                </div>
                <div class="col-4 p-4 mb-2 d-none second-carousel">
                    <a href="{{ url_for('fullrecipe', recipe_name=item.recipeName)}}">
                        <img class="card-img-top" src="{{ url_for('file', filename=item.recipeImageName) }}" alt="Recipe Image">
                    </a>
                </div>
                
            {% endfor %}
        </div>
    </div>
{% endif %}

{% endblock %}