{% extends "base.html" %}
{% block content %}

<!--Sign up form with background image-->
<main class="form-background">
    {% with messages = get_flashed_messages() %}  
         {% if messages %}  
            {% for message in messages %}  
                <p class="text-center"><strong>{{ message.upper() }}</strong></p>
            {% endfor %}  
        {% endif %}  
    {% endwith %}

    <h3 class="text-center uppercase text-primary login-title">Login</h3>

    <!--Login Card-->
    <div class="card form-card">
        <div class="card-body">
            <!--Login Form-->
            <form method="POST" action="{{ url_for('login') }}">
                <!--Username-->
                <div class="mb-2">
                    <label for="username">Username</label><br>
                    <input type="text" class="form-control" id="username" name="username">
                </div>

                <!--Password-->
                <div class="mb-2">
                    <label for="password">Password</label><br>
                    <input type="password" class="form-control" id="password"  name="password">
                </div>
                <!--Submit Button-->
                <input class="btn btn-primary w-100" type="submit" value="Log In">
            </form>
            <!--Link to login page-->
            <p class="text-center">Don't have an account? <a href="{{ url_for('signup') }}">Signup</a></p>
        </div>
    </div>
</main>

{% endblock %}