{% extends "base.html" %}
{% block content %}
<main class="text-primary">
    <h4 class="text-center">News Feed</h4>

    <!-- Recipes / users search form -->
    <div class="text-center mt-2 mb-2" id="search">
        <form action="{{ url_for('search') }}" method="POST" style="line-height: 1.5;">

            <h4 class="text-center text-primary">Find users or recipes</h4>

            <label class="mb-2" for="search"><strong>Search for:</strong></label>

            <select name="select">
                <option value="recipes">Recipes</option>
                <option value="users">Users</option>
            </select>

            <input type="text" class="rounded search-form" autocomplete="off" name="search" required>
            <span>
                <button type="submit" class="btn search-button"><i class="fas fa-search text-primary"></i></button>
            </span>

        </form>
    </div>

    <hr class="width-80">

    <div class="container">
        <div class="row">
            <div class="col text-center mb-4">
                <a class="btn btn-lg btn-primary" href="{{ url_for('createPost', username=session.user) }}">Create New Post</a>
            </div>
        </div>
    </div>

    <div class="container">
        {% for post in posts %}
        <div class="row mb-4">

            <div class="col-12 card">
                <div class="post-card-body">
                    {% if post.postimage %}
                    <div class="text-center">
                        <img class="post-image" src="{{ url_for('file', filename=post.postimage) }}" alt="Post Image">
                    </div>
                    {% endif %}
                    <p>Author: {{ post.author }}</p>
                    <p class="lead mb-4">{{ post.posttext }}</p>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}