{% extends "base.html" %}

{% block content %}

<div class="container-fluid text-center text-white profile-background">
    <!-- Flashed messages -->
    {% set hasProfileImage = user.hasProfileImage %}
    <h3 class="masthead-heading mb-0">Hi {{ user.username }}!</h3>

    <!-- Checks if user has profile pic -->
    {% if hasProfileImage == "1" %}
    {% set profileImage = user.profileImageName %}
    <!-- Profile image -->
    <div class="profile-pic">
        <img class="img-fluid profile-image" src="{{ url_for('file', filename=profileImage) }}" alt="Profile Image">
    </div>

    <!-- Deletes profile pic -->
    <form class="mt-4" action="{{ url_for('deleteProfileImage', username=username) }}" method="POST">
        <button class="btn btn-white mb-4" type="submit">Delete profile picture</button>
        <a id="show-edit-pic-form" class="btn btn-white mb-4" onclick="showEditPicForm()">Edit / Upload profile
            pic</a>
    </form>

    <!-- if user doesn't have profile pic -->
    {% else %}
    <div class="text-center">
        <!-- Placeholder profile pic -->
        <i class="fas fa-user-circle fa-10x"></i>
    </div>
    <div class="text-center mt-4">
        <a id="show-edit-pic-form" class="btn btn-white mb-4" onclick="showEditPicForm()">Upload profile
            pic</a>
    </div>
    {% endif %}

    <!-- Edit profile image form -->
    <form style="display: none;" id="edit-pic-form" action="{{ url_for('edit_profile_picture', username=username) }}"
        method="POST" enctype="multipart/form-data">
        <!-- file input -->
        <br>
        <input name="newProfilePic" accept="image/jpg" type="file" required>
        <br>
        <button type="submit" class="btn btn-white uppercase mt-1 mb-4">Upload New Profile Picture</button>
    </form>
</div>

<!-- Secondary Navbar -->
<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
        <a class="nav-link" href="#personal-details">Personal Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#my-recipes">My recipes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#liked-recipes">Liked Recipes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#my-posts">My Posts</a>
    </li>
</ul>

<hr class="width-80">

<!-- Personal Details -->
<div id="personal-details" class="mt-4 mb-4 container text-primary">

    <h2 class="masthead-heading text-center text-primary mb-4">Personal Details</h2>

    <div id="edit-personal-details-form">
        <form action="{{ url_for('editPersonalDetails', username=username) }}" method="POST">
            <div class="row">
                <div class="col-sm-12 col-md-3 offset-md-3">
                    <label for="username">Username: </label>
                    <input type="text" name="username" class="form-control form-personal-details" value="{{ user['username'] }}">
                    <br>
                    <label for="fname">First Name: </label>
                    <input type="text" name="fname" class="form-control form-personal-details" value="{{ user['fname'] }}">
                </div>
                <div class="col-sm-12 col-md-3">
                    <label for="email">Email Address: </label>
                    <input type="email" name="email" class="form-control form-personal-details" value="{{ user['email'] }}">
                    <br>
                    <label for="lname">Surname: </label>
                    <input type="text" name="lname" class="form-control form-personal-details" value="{{ user['lname'] }}">
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <br>
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<hr class="width-80">

<!-- My recipes -->
<div id="my-recipes" class="my-recipes text-primary">
    <h2 class="text-center mb-4">My Recipes</h2>

    {% set hasUploadedRecipe = user.hasUploadedRecipe %}
    <!-- Checks if user has uploaded recipe -->
    {% if hasUploadedRecipe == "1" %}
    <div class="container">
        <div class="row">
            <!-- Counts number of recipes uploaded by this user -->
            {% set numberOfRecipes = userRecipes.count() %}

            <!-- Check if number of recipes is divisible by 3 -->
            {% if numberOfRecipes %3 == 0 %}
            {% set column = "col-md-12 col-lg-4" %}
            {% elif numberOfRecipes %2 == 0 %}
            {% set column = "col-md-12 col-lg-6" %}
            {% else %}
            {% set column = "col-6 offset-3" %}
            {% endif %}

            {% for recipe in userRecipes %}
            <div class="{{ column }}">
                <div class="card mb-4 mt-2">
                    {% set imageName = recipe.recipeImageName %}
                    {% set recipeName = recipe.recipeName %}
                    <img class="card-img-top" src="{{ url_for('file', filename=imageName) }}" alt="recipe Image">

                    <div class="card-body">
                        <!-- Recipe Name -->
                        <h4 class="card-title  text-center">{{ recipeName }}</h4>

                        <!-- Recipe Details -->

                        <p class="card-text">
                            <i class="fas fa-utensils"></i> Serves {{ recipe.serves }}
                            <br>
                            <i class="far fa-clock"></i> Preparation time: {{ recipe.prepTime }}
                            <br>
                            <i class="far fa-clock"></i> Cooking time: {{ recipe.cookingTime }}
                        </p>

                        <h5 class="text-center">Recipe Description</h5>

                        <p class="card-text recipe-description">
                            {{ recipe.recipeDescription }}
                        </p>

                        <p>
                            <span style="color: black;">Author:</span> {{ recipe.author }}
                        </p>

                        <div class="text-center">
                            <a class="btn btn-outline-primary btn-lg"
                                href="{{ url_for('fullrecipe', recipeName=recipeName)}}">Go to / edit Recipe</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="text-center">
        <p>You have not uploaded any recipes yet. You can upload a new recipe <a
                href="{{ url_for('create_recipe') }}">here</a></p>
    </div>
    {% endif %}
</div>

<hr class="width-80">

<div id="liked-recipes" class="text-primary">
    <h2 class="text-center">My Liked Recipes</h2>

    {% if likedRecipes %}
    <div class="container">
        <div class="row">
            {% if likedRecipes|length > 1 %}
            {% for likedRecipe in likedRecipes %}
            {% set recipe = x({"recipeName": likedRecipe}) %}
            <div class="col-sm-12 col-lg-6">
                <div class="card mb-4 mt-4">
                    {% set imageName = recipe.recipeImageName %}
                    {% set recipeName = recipe.recipeName %}
                    <img class="img-fluid" src="{{ url_for('file', filename=imageName) }}" alt="recipe Image">

                    <div class="card-body">
                        <!-- Recipe Name -->
                        <h4 class="card-title  text-center">{{ recipeName }}</h4>

                        <!-- Recipe Details -->

                        <p class="card-text">
                            <i class="fas fa-utensils"></i> Serves {{ recipe.serves }}
                            <br>
                            <i class="far fa-clock"></i> Preparation time: {{ recipe.prepTime }}
                            <br>
                            <i class="far fa-clock"></i> Cooking time: {{ recipe.cookingTime }}
                        </p>

                        <h5 class="text-center">Recipe Description</h5>

                        <p class="card-text recipe-description">
                            {{ recipe.recipeDescription }}
                        </p>

                        <p>
                            <span style="color: black;">Author:</span> {{ recipe.author }}
                        </p>

                        <div class="text-center">
                            <a class="btn btn-outline-primary btn-lg"
                                href="{{ url_for('fullrecipe', recipeName=recipeName)}}">Go to / edit Recipe</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col">
                <div class="card mb-2">
                    {% set a = x({"recipeName": likedRecipes[0]}) %}

                    {% set imageName = a.recipeImageName %}
                    {% set recipeName = a.recipeName %}
                    <img class="img-fluid" src="{{ url_for('file', filename=imageName) }}" alt="recipe Image">

                    <div class="card-body">
                        <!-- Recipe Name -->
                        <h4 class="card-title  text-center">{{ a.recipeName }}</h4>

                        <!-- Recipe Details -->

                        <p class="card-text">
                            <i class="fas fa-utensils"></i> Serves {{ a.serves }}
                            <br>
                            <i class="far fa-clock"></i> Preparation time: {{ a.prepTime }}
                            <br>
                            <i class="far fa-clock"></i> Cooking time: {{ a.cookingTime }}
                        </p>

                        <h5 class="text-center">Recipe Description</h5>

                        <p class="card-text recipe-description">
                            {{ a.recipeDescription }}
                        </p>

                        <p>
                            <span style="color: black;">Author:</span> {{ a.author }}
                        </p>

                        <div class="text-center">
                            <a class="btn btn-outline-primary btn-lg"
                                href="{{ url_for('fullrecipe', recipeName=recipeName)}}">Go to / edit Recipe</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% else %}
    <p>You have not liked any recipes</p>
    {% endif %}
</div>

<hr class="width-80">

<div class="my-posts" id="my-posts">
    <h2 class="text-center text-primary mt-4 mb-4">My Posts</h2>
    {% if user.hasPosted == "0" %}
    <div class="text-center">
        <p>You have not made any posts yet. You can create a new post <a href="#">here</a></p>
    </div>
    {% else %}

    {% endif %}
</div>

<hr class="width-80">

<div class="col text-center">
    <a class="btn btn-danger" href="{{ url_for('deleteProfile', username=user.username)}}">Delete Profile</a>
</div>

{% endblock %}