{% extends "base.html" %}
{% block extra_title %}Recipes{% endblock %}
{% block content %}

<div class="text-white"
    style="min-height: 40vh; background-image: url('/static/images/platter.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="col text-center">
        <h1 class="display-2 p-4">FOOD SPACE</h1>

        <h4>{{ query }}</h4>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col mt-4">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Categories
                </button>
                <ul class="dropdown-menu">
                    {% for item in category_list %}
                    <form action="{{ url_for('recipe') }}" method="post">
                        <li class="dropdown-item">
                            <input name="category" type="hidden" value="{{ item }}">
                            <button class="btn" type="submit">{{ item }}</button>
                        </li>
                    </form>
                    {% endfor %}
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Sort By
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Recently added</a></li>
                    <li><a class="dropdown-item" href="#">Top rated</a></li>
                    <li><a class="dropdown-item" href="#">Category name</a></li>
                </ul>
            </div>
            <div class="text-center">
                <a class="btn" href="{{ url_for('create_recipe') }}">Create new recipes</a>
            </div>
        </div>
    </div>
</div>

{% if results %}

<div class="container-fluid">
    <div class="row">
        {% for recipe in results %}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 p-4">

            <div class="card mb-4 mt-4 p-4">
                <!-- Recipe image -->
                <a href="{{ url_for('view_recipe', recipe_name=recipe.recipeName) }}">
                    <img class="card-img-top" src="{{ url_for('file', filename=recipe.recipeImageName) }}"
                        alt="recipe Image">
                </a>

                <div class="card-body">

                    <!-- Recipe Name -->
                    <h4 class="card-title">{{ recipe.recipeName }}</h4>

                    <!-- Recipe Details -->
                    <p class="card-text">
                        <i class="fas fa-utensils"></i> Serves {{ recipe.serves }}
                        <br>
                        <i class="far fa-clock"></i> Preparation time: {{ recipe.prepTime }}
                        <br>
                        <i class="far fa-clock"></i> Cooking time: {{ recipe.cookingTime }}
                    </p>

                    <!-- Categories -->
                    {% if recipe.categories %}
                    <div class="mb-4 recipe-categories">
                        <h6>Categories</h6>
                        {% if recipe.categories|length > 1 %}
                        <ul class="list-inline">
                            {% for category in recipe.categories %}
                            {% if category == "vegetarian" %}
                            <li class="list-inline-item">
                                {{ category }} <i class="fas fa-carrot"></i>
                            </li>
                            {% elif category == "vegan" %}
                            <li class="list-inline-item">
                                {{ category }} <i class="fas fa-leaf"></i>
                            </li>
                            {% else %}
                            <li class="list-inline-item">
                                {{ category }}
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="mb-4 recipe-categories">
                        <h6>Categories</h6>
                        <p class="text-muted">No categories selected</p>
                    </div>
                    {% endif %}

                    <!-- Button linking to full recipe -->
                    <div class="text-center">
                        <a href="{{ url_for('view_recipe', recipe_name=recipe.recipeName) }}"
                            class="btn btn-outline-primary btn-lg">Go to Recipe</a>
                    </div>

                    <p class="mt-4 text-center">
                        {% if user %}
                        {% if list_of_liked_recipes != None %}
                        {% if recipe.recipeName in list_of_liked_recipes %}
                        <a class="likes"
                            href="{{ url_for('like', recipe_name=recipe.recipeName, username=user.username) }}">
                            <i class="fas fa-heart"></i>
                        </a>

                        <span>Likes: {{recipe.likes }} </span>
                        {% else %}
                        <a class="likes"
                            href="{{ url_for('like', recipe_name=recipe.recipeName, username=user.username) }}">
                            <i class="far fa-heart"></i>
                        </a>

                        <span>Likes: {{recipe.likes }} </span>
                        {% endif %}
                        {% else %}
                        <a class="likes"
                            href="{{ url_for('like', recipe_name=recipe.recipeName, username=user.username) }}">
                            <i class="far fa-heart"></i>
                        </a>
                        <span>Likes: {{recipe.likes }} </span>
                        {% endif %}
                        {% else %}
                        <a class="likes"
                            href="{{ url_for('like', recipe_name=recipe.recipeName, username=user.username) }}">
                            <i class="far fa-heart"></i>
                        </a>
                        <span>Likes: {{recipe.likes }} </span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}