{% extends "base.html" %}
{% block extra_title %}Reset password{% endblock %}
{% block content %}

<main class="mb-4"
    style="background-image: url('/static/images/platter.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container p-4">
        <!--Sign Up Form-->
        <div class="card p-4">
            <div class="card-body" style="min-height: 60vh;">
                <h2>Reset your password</h2>
                <form id="reset-password-form" class="mt-4" action="{{ url_for('change_password') }}" method="POST" autocomplete="off" aria-autocomplete="off">
                    <div class="mb-2">
                        {{ form.csrf_token }}
                        {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        {{ form.username.label(class_='upper') }}
                        {{ form.username(class_='form-control') }}
                    </div>
                    <h5 class="mt-2">Please confirm your email address</h5>

                    <div class="mb-2">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        {{ form.email.label(class_='upper') }}
                        {{ form.email(class_='form-control') }}
                    </div>

                    <div class="mb-2">
                        {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        {{ form.password.label(class_='upper') }}
                        {{ form.password(class_='form-control', autocomplete='new-password') }}
                    </div>

                    <div class="mb-2">
                        {% for error in form.confirm_password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        {{ form.confirm_password.label(class_='upper') }}
                        {{ form.confirm_password(class_='form-control') }}
                    </div>

                    <div class="mb-4 text-center">
                        <button class="btn btn-primary mt-2" type="submit">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">
    $('#reset-password-form').disableAutoFill();
</script>
{% endblock %}