{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2 text-center text-primary">
            <form action="{{ url_for('changePassword') }}" method="POST" autocomplete="off">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" required aria-required="true">
                <br>
                <label for="email">Email Address</label>
                <input type="email" class="form-control" name="email" required aria-required="true">

                <label for="newPassword">New Password:</label>
                <input type="password" class="form-control" name="password" required aria-required="true">

                <label for="confirmNewPassword">New Password:</label>
                <input type="password" class="form-control" name="confirmNewPassword" required aria-required="true">

                <button class="btn btn-primary mt-2" type="submit">Change Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}