{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-primary">
            <form class="mt-4" action="{{ url_for('changePassword') }}" method="POST" autocomplete="off">
                <h5 class="text-center">Please confirm username and email address:</h5>

                <div class="mb-4">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" required aria-required="true">

                    <br>

                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" name="email" required aria-required="true">

                </div>

                <h5 class="mt-2">Please confirm your new password</h5>

                <div class="mb-4">
                    <label for="newPassword">New Password:</label>
                    <input type="password" class="form-control" name="password" required aria-required="true">

                    <h5 class="mt-2">Please confirm new password</h5>

                    <label for="confirmNewPassword">New Password:</label>
                    <input type="password" class="form-control" name="confirmNewPassword" required aria-required="true">
                </div>

                <div class="mb-4">
                    <button class="btn btn-primary mt-2" type="submit">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}