{% extends "base.html" %}
{% block content %}

<div class="text-center mb-2">
    <form class="mt-4" action="{{ url_for('searchRecipes') }}" method="POST" style="line-height: 1.5;">
        <label for="search">Search recipes:</label>
        <input type="text" name="search" class="rounded search-form" autocomplete="off" placeholder="Spaghetti Bolognaise" required>
        <button type="submit" class="btn search-button"><i class="fas fa-search text-primary"></i></button>
    </form>
</div>

<div class="text-center mb-2">
    <button type="button" onclick="showCategories()" class="btn btn-primary">Categories</button>
</div>

<div class="hide text-center" id="categories">
    {% for category in categoryList %}
    <a href="{{ url_for('category', categoryName=category) }}" class="btn btn-outline-primary">{{ category }}</a>
    {% endfor %}
</div>

<div class="text-center mb-2">Number of results: {{ numberOfResults }}</div>

<!-- links back to various pages -->
<div class="text-center mb-4">
    <a class="btn btn-outline-primary" href="{{ url_for('recipe') }} ">
        Back to recipes</a>
    <a class="btn btn-outline-primary" href="{{ url_for('index') }}">Back Home</a>
    <a class="btn btn-outline-primary" href="{{ url_for('profile', username=session.user) }}">Back to Profile</a>
</div>

{% if results %}
    {% for result in results %}
        
    {% endfor %}
{% endif %}

{% endblock %}