{% extends "base.html" %}
{% block content %}

{% set numberOfUsers = results.count() %}

<!-- Recipes / users search form -->
<div class="text-center mt-2 mb-2" id="search">
    <form action="{{ url_for('search') }}" method="POST" style="line-height: 1.5;">

        <h4 class="text-center text-primary">Find new friends or recipes</h4>

        <label class="mb-2" for="search"><strong>Search for:</strong></label>

        <select name="select">
            <option value="recipes">Recipes</option>
            <option value="users">Users</option>
        </select>

        <input type="text" class="rounded search-form" autocomplete="off" name="search" required>
        <span>
            <button type="submit" class="btn search-button"><i class="fas fa-search text-primary"></i></button>
        </span>

    </form>
</div>

<p class="text-center">{{ numberOfUsers}} result(s) found</p>

<div class="container">
    {% for result in results %}
    {% set profileImage = result.profileImageName %}
    <div class="row">
        <div class="col text-center text-primary">
            <div class="card">
                <div class="card-body search-profile-card">
                    <h4 class="uppercase">{{result.fname}} {{result.lname}}</h4>

                    <img class="profile-image profile-pic" src="{{ url_for('file', filename=profileImage) }}"
                        alt="Profile Image">

                    <div>
                        <a href="{{ url_for('userProfile', username=result.username) }}" class="btn btn-primary mt-4 mb-4 w-50">View {{result.fname}}'s Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}