{% extends "base.html" %}
{% block content %}

<div class="text-center mb-2">
    <form class="mt-4" action="{{ url_for('searchRecipes') }}" method="POST" style="line-height: 1.5;">
        <label for="search"><strong>Search recipes:</strong></label>
        <input type="text" name="search" class="rounded search-form" autocomplete="off" placeholder="Spaghetti Bolognaise" required>
        <button type="submit" class="btn search-button"><i class="fas fa-search text-primary"></i></button>
    </form>
</div>

<div class="text-center mb-2">
    <button type="button" onclick="showCategories()" class="btn btn-primary">Categories</button>
</div>

<div class="hide text-center" id="categories">
    {% for category in categoryList %}
    <a href="{{ url_for('category', categoryName=category) }}" class="btn btn-outline-primary">{{ category }}</a>
    {% endfor %}
</div>

<div class="text-center mb-2">Number of results: {{ numberOfResults }}</div>

<!-- links back to various pages -->
<div class="text-center mb-4">
    <a class="btn btn-outline-primary" href="{{ url_for('recipe') }} ">
        Back to recipes</a>
    <a class="btn btn-outline-primary" href="{{ url_for('index') }}">Back Home</a>
    <a class="btn btn-outline-primary" href="{{ url_for('profile', username=session.user) }}">Back to Profile</a>
</div>

{% if results %}
    <!-- Container showing cards for each recipe found -->
    <div class="container">
        <div class="row">
        {% for result in results %}
        <div class="col-sm-12 col-lg-6">

            <div class="card mb-4 mt-4">
                {% set imageName = result.recipeImageName %}

                <!-- Recipe image -->
                <img class="card-img-top" src="{{ url_for('file', filename=imageName) }}" alt="recipe Image">
                <div class="card-body">
                    <!-- Recipe Name -->
                    <h4 class="card-title">{{ result.recipeName }}</h4>

                    <!-- Recipe Details -->
                    <p class="card-text">
                        <i class="fas fa-utensils"></i> Serves {{ result.serves }}
                        <br>
                        <i class="far fa-clock"></i> Preparation time: {{ result.prepTime }}
                        <br>
                        <i class="far fa-clock"></i> Cooking time: {{ result.cookingTime }}
                    </p>

                    <!-- Categories -->
                    {% if result.categories %}
                        <div class="mb-4">
                            <h6>Categories</h6>
                        {% set categories = result.categories %}
                        {% if categories|length > 1 %}
                            <ul class="list-inline">
                            {% for category in categories %}
                                {% if category == "vegetarian" %}
                                    <li class="list-inline-item">
                                        {{ category }} <i class="fas fa-carrot"></i>
                                    </li>
                                {% elif category == "vegan" %}
                                    <li class="list-inline-item">
                                        {{ category }} <i class="fas fa-leaf"></i>
                                    </li>
                                {% else %}
                                    <li class="list-inline-item">
                                        {{ category }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                        </div>
                    {% else %}
                        <div class="mb-4">
                            <h6>Categories</h6>
                            <ul class="list-inline pb-4">
                                <li class="list-inline-item"></li>
                                <li class="list-inline-item"></li>
                                <li class="list-inline-item"></li>
                                <li class="list-inline-item"></li>
                            </ul>

                        </div>
                    {% endif %}

                    <!-- Recipe Description -->
                    <h5 class="">Recipe Description</h5>

                    <p class="card-text recipe-description">
                        {{ result.recipeDescription }}
                    </p>

                    <!-- Button linking to full recipe -->
                    <div class="text-center">
                        <a href="{{ url_for('fullrecipe', recipeName=result.recipeName) }}" class="btn btn-outline-primary btn-lg">Go to Recipe</a>
                    </div>

                    {% set recipeName = result.recipeName %}
                    <p class="mt-4 text-center">
                        {% if session.user %}
                            {% set username = session.user %}
                            
                            {% if x({"username": username}) %}
                                
                                {% set user = x({"username": username}) %}
                                
                                {% if user.likedRecipes %}
                                    {% set listOfLikedRecipes = user.likedRecipes %}
                                    
                                    {% if listOfLikedRecipes|length >= 1  %}
                                        {% if recipeName in listOfLikedRecipes %}
                                        
                                            <a class="likes" href="{{ url_for('unlike', recipeName=recipeName, username=username) }}">
                                                    <i class="fas fa-heart"></i>
                                                </a>
                                                
                                            <span>Likes: {{result.likes }} </span>
                                        {% else %}
                                            <a class="likes" href="{{ url_for('like', recipeName=recipeName, username=username) }}">
                                                <i class="far fa-heart"></i>
                                            </a> 
                                            <span>Likes: {{result.likes }} </span>
                                        {% endif %}
                                    
                                    {% endif %}
                                    
                                {% else %}
                                    <a class="likes" href="{{ url_for('like', recipeName=recipeName, username=username) }}">
                                        <i class="far fa-heart"></i>
                                    </a> 
                                    
                                    <span>Likes: {{result.likes }} </span>
                                {% endif %}
                            
                            {% endif %}
                        {% else %}
                            <a class="likes" href="{{ url_for('signInToLikeRecipe') }}">
                                <i class="far fa-heart"></i>
                            </a>
                            
                            <span>Likes: {{result.likes }} </span>
                        {% endif %}
                    </p>
                </div>

            </div>
        </div>
        {% endfor %}
        </div>
    </div>
{% endif %}

{% endblock %}