{% extends "base.html" %}
{% block content %}

<!-- Search form -->
<div class="text-center mb-2">
    <form action="{{ url_for('searchRecipes') }}" method="POST">
        <label for="search">Search recipes:</label>
        <input type="text" name="search" placeholder="{{ query }}" required>
        <button type="submit" class="btn btn-sm btn-primary">Search</button>
    </form>
</div>

<h4 class="text-center text-primary">Find Users</h4>

<p class="text-center">{{ results.count() }} Result(s) Found</p>

{% if results %}
<div class="container">
    {% for x in results %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body text-primary">
                    {% if x.hasProfileImage == "1" %}
                        <div class="text-center">
                            <img style="height: 150px;" class="img-thumbnail"
                                src="{{ url_for('file', filename=x.profileImageName) }}" alt="Profile Image">
                        </div>
                    {% endif %}
                    <h4 class="text-center capitalize">{{ x.username }}</h4>

                    <div class="row">
                        <div class="col-4 offset-4">
                            <p class="float-left">First Name: {{ x.fname }}</p>
                            <p class="float-right">Surname: {{ x.lname }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8 offset-2">
                            <a class="btn btn-outline-primary" href="">See {{ x.fname }}'s recipes</a>
                            <a class="btn btn-outline-primary" href="">See {{ x.fname }}'s profile</a>
                            <a class="btn btn-outline-primary" href="">See {{ x.fname }}'s recipes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}

hi

{% endif %}

{% endblock %}