{% extends "base.html" %}
{% block extra_title %}Signup{% endblock %}
{% block content %}

<!--Sign up form with background image-->
<main class="mb-4" style="background-image: url('/static/images/platter.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container mb-4">
        <!--Sign Up Form-->
        <div class="card p-4">
            <div class="card-body" style="height: auto;">
                <h1 class="text-center"><strong>Sign Up</strong></h1>
                <form class="mb-2" method="POST" action="{{ url_for('sign_up') }}" autocomplete="off" aria-autocomplete="none"
                    enctype="multipart/form-data">
                    <!--Username-->
                    <div class="mb-2">
                        {{ form.csrf_token }}
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        {{ form.username.label(class_='upper') }}
                        {{ form.username(class_='form-control') }}
                    </div>
                    
                    <div class="mb-2">
                        {% for error in form.profile_pic.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        <label for="profile_pic">Profile image (optional)</label>
                        {{ form.profile_pic() }}
                    </div>

                    <div class="mb-2">
                        {% for error in form.fname.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        <label for="fname">First name</label>
                        {{ form.fname(class='form-control') }}
                    </div>

                    <div class="mb-2">
                        {% for error in form.lname.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        <label for="fname">Surname</label>
                        {{ form.lname(class='form-control') }}
                    </div>

                    <div class="mb-2">
                        {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        <label for="email">Email Address:</label>
                        {{ form.email(class='form-control') }}
                    </div>

                    <div class="mb-2">
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        <label for="password">Password:</label>
                        {{ form.password(class='form-control') }}
                    </div>
                    <!--Submit Button-->
                    <input class="btn btn-primary w-100" type="submit" value="Register">
                </form>
                <!--Link to login page-->

                <p class="text-center">Already have an account? <a href="{{ url_for('log_in') }}">Login</a></p>
            </div>
        </div>
    </div>
</main>


{% endblock %}